@inherits LayoutComponentBase


<div class="page flex-column">
    <NavMenu />

    <main>

        <div class="content" style="width:60%;margin:auto;padding:0">
            @Body
        
        </div>
    </main>
</div>
<RadzenDialog />
